{{#block "FormAltaDispositivo"}}

 <form id="agregarDispositivo" class="modal fade" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
		<form>
          <div class="modal-header">            
            <h4 class="modal-title">Agregar Dispositivo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">         
            <div class="form-group">
            <label for="tipo-dispositivo">Tipo Dispositivo</label>
    		<select class="form-control" name="tipo-dispositivo" id="tipo-dispositivo">
      		<option value="estandar">Estandar</option>
      		<option value="inteligente">Inteligente</option>
      		</select>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input id=dispositivoNombre type="text" name=dispositivoNombre class="form-control" required>
            </div>
            <div class="form-group">
              <label>Consumo fijo</label>
              <input id=dispositivoConsumo type="text" name=dispositivoConsumo class="form-control" required>
            </div>
            <div class="form-group">
              <label>Max Horas</label>
              <input id=dispositivoMaxHoras type="text" name=dispositivoMaxHoras class="form-control" required>
            </div>
            <div class="form-group">
              <label>Min Horas</label>
              <input id=dispositivoMinHoras type="text" name=dispositivoMinHoras class="form-control" required>
            </div>
                     
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-success" value="Agregar Dispositivo">
          </div>
        </form>
       </div>
    </div>
  </form>
{{/block}}