{{#partial "navbar"}}
{{> navbarCliente.hbs}}
{{/partial}}

{{#partial "content"}}

<!-- <div class="row">
<h1>Consulta del consumo</h1></br>
</div>
<div class="col-sm"></div>
<div class="col-sm-6">
	<form method='post' action="/consumo">
		<div class="form-group">
			<label for="fechaConsumo">Ingrese Fecha</label>
			<input id="fechaConsumo" name="fechaConsumo" class="form-control" type="text" placeholder="dd/MM/yyyy" required>
		</div>
		<button type="submit" class="btn btn-success">Consultar</button>
	</form>         
</div>


<div class="row">

</div></br>

<div class="row">
<div class="col-sm"></div>
<div class="col-sm-6">
{{#if fechaConsumo}}
<div class="alert alert-info">
    	<p>El consumo al dia de la fecha es</p><strong>{{fechaConsumo}} kWh	</strong>
</div>
{{/if}}
{{#if fechaInvalida}}
<div class="alert alert-danger">
    	<strong>Fecha incorrecta</strong><p>Verifique la fecha ingresada</p>
</div>
{{/if}}
</div>
</div>
 -->
 
{{#block "dispositivosCliente"}}

<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
            <h2><b>Dispositivos</b></h2>
          </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
            			<th>Tipo</th>
            			<th>Consumo Ultimo Mes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
					{{#each dispositivosCliente}}
							<tr>
							<td>{{id}}</td>
							<td>{{nombre}}</td>
							
							{{#unless estado}}
								<td>Estandar</td>
							{{/unless}}
							
							{{#if estado}}
								<td>Inteligente</td>
							{{/if}}
							</td>
							<td type="number" min=0 step="0.001">{{consumoUltimoMes}}</td>
							</tr>
							
					{{/each}}
                    </tr>
                    
                </tbody>
            </table>
      
        </div>
    </div>

{{/block}}



{{/partial}}

{{> layout.hbs}}