{{#block "dispositivosCliente"}}

<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
            <h2><b>Dispositivos</b></h2>
          </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Consumo Fijo (kWh)</th>
            			<th>Tipo</th>
            			<th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
					{{#each dispositivosCliente}}
							<tr>
							<td>{{id}}</td>
							<td>{{nombre}}</td>
							<td>{{consumoFijo}}</td>
							
							{{#unless estado}}
								<td>Estandar</td>
							{{/unless}}
							
							{{#if estado}}
								<td>Inteligente</td>
							{{/if}}
							<td>{{estado}}</td>
							</tr>
							 {{/each}}
                    </tr>
                    
                </tbody>
            </table>
      
        </div>
    </div>

{{/block}}