{{#partial "navbar"}}
{{> navbarAdmin.hbs}}
{{/partial}}
{{#partial "content"}}
<body>
	{{#if noSeBorra}}
	<div class ="container">
	<div class="alert alert-danger">
    	<strong>Fallo al eliminar dispositivo</strong>, verifique antes si los clientes tienen el dispositivo en su lista
  	</div>
	</div>
	{{/if}}	 
	   	<div class ="container">
	   	<div class="row">
	   	<div class="col-sm-6">
            <h2><b>Importar Archivo</b></h2>
          </div>
	   	</div>
    	 <form method="post" action="/dispositivos/importar">
          <div class="form-group">
          <input type="file" id="selectFiles" name=json value="Import" /><br />
			<button class="btn btn-success" id="import" type="submit">Import</button>

            </div>
            </form>
         	{{#if archivoInvalido}}
         	<div class="alert alert-danger">
    		<strong>Tipo de archivo invalido</strong>, verifique que el archivo tenga un formato correcto
  			</div>
         	
         	{{/if}}
            </div>


    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
            <h2><b>Dispositivos</b></h2>
          </div>
          <div class="col-sm-6">
          <a href="#agregarDispositivo" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar Dispositivo</span></a>         
          </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Consumo Fijo</th>
            			<th>Tipo</th>
            			<th>Editar</th>
            			<th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
					{{#each dispositivos}}
							<tr>
							<td>{{id}}</td>
							<td>{{nombre}}</td>
							<td>{{consumoFijo}}</td>
							
							{{#unless estado}}
								<td>Estandar</td>
							{{/unless}}
							
							{{#if estado}}
								<td>Inteligente</td>
							{{/if}}
							<td>
							<form method="post" action="/editarDispositivo">
							<div class="form-group">
              				<input id="editarDispositivo" type="hidden" name="editarDispositivo" class="form-control" value={{id}} required>
							<input type="submit" class="btn btn-warning" value="Editar">
							</div>
							</form>
							</td>
							<td>
							<form method="post" action="/dispositivos/borrar">
							<div class="form-group">
              				<input id="borrarDispositivo" type="hidden" name="borrarDispositivo" class="form-control" value={{id}} required>
							<input type="submit" class="btn btn-danger" value="Eliminar">
							</div>
							</form>
							</td>
							</tr>
							 {{/each}}
                    </tr>
                    
                </tbody>
            </table>
      
        </div>
    </div>
 

        {{> altaDispositivo.hbs}}


 {{/partial}}
 {{> layout.hbs}}