{{#partial "navbar"}}
{{> navbarCliente.hbs}}
{{/partial}}

{{#partial "content"}}

<div class="container-fluid">
<h1>Ultimas Mediciones</h1>
</div><br/>

<div class="container-fluid">
	<h1>Consumo del ultimo periodo</h1>
		<div class="alert alert-info">
			<p class="good notification">El consumo del ultimo periodo es de <strong>{{consumoPeriodo}} kWh</strong></p>
		</div>
		
</div><br/>

<div class="container-fluid">
<h1>Mis Dispositivos</h1>
{{> dispositivosCliente.hbs}}
</div><br/>

<div class="container-fluid">
<h1>Reglas activas</h1>
{{> reglasCliente.hbs}}
</div><br/>


{{/partial}}

{{> layout.hbs}}