{{#partial "navbar"}}

   <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      
      <li><a href="#">Estado Del Hogar</a></li>
      <li><a href="#">Consumo</a></li>
      <li><a href="#">Simplex</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ABM<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Reglas</a></li>
          <li><a href="#">Dispositivos</a></li>
        </ul>
      </li>
      
   </ul>
   <ul class="nav navbar-nav navbar-right">
      <li>
         <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{currentUser}}</p>
      </li>
      <li>
         <form><button type="submit"><span class="glyphicon glyphicon-log-out"></span>Logout</button></form>
      </li>
   </ul>


{{/partial}}

{{#partial "content"}}

<h1>Hola {{currentUser}}</h1>
<p>Estas logueado,</p>
<p>Aca va un fondo de pantalla</p>

{{/partial}}

{{> layout.hbs}}