{{#partial "navbar"}}

   <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      
      <li><a href="#">Hogares</a></li>
      <li><a href="#">Reportes</a></li>
      <li><a href="#">Alta de dispositivos</a></li>
      
      
   </ul>
   <ul class="nav navbar-nav navbar-right">
      <li>
         <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{currentUser}}</p>
      </li>
      <li>
         <form action="/logout" method="post"><button type="submit"><span class="glyphicon glyphicon-log-out"></span>Logout</button></form>
      </li>
   </ul>


{{/partial}}

{{#partial "content"}}

<h1>Hola {{currentUser}}</h1>
<p>Estas logueado, pero esta vez sos un admin</p>
<p>Aca va un fondo de pantalla bien de admin</p>

{{/partial}}

{{> layout.hbs}}