{{#partial "navbar"}}

   <ul class="nav navbar-nav navbar-right">

      <li>
         <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
      </li>
   </ul>


{{/partial}}

{{#partial "content"}}

  <div class="jumbotron">
    <h1>Sistema de Gestion Energetica</h1>      
    <p>Universidad Tecnologica Nacional</p>
  </div>
  <h2>Integrantes:</h2>      
  <p>Aca va la lista de integrantes</p>
  
  
   <h1>Mapa de transformadores</h1>
{{> mapa.hbs}}

{{/partial}}

{{> layout.hbs}}