{{#block "navbarCliente"}}

   <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      
      <li><a href="/estadoHogar">Estado Del Hogar</a></li>
      <li><a href="/consumo">Consumo</a></li>
      <li><a href="/simplex">Simplex</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ABM Dispositivos<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/dispositivosByM">Baja y Modificacion</a></li>
          <li><a href="/dispositivosAlta">Alta</a></li>
        </ul>
      </li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ABM Reglas<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/reglas">Reglas</a></li>
          <li><a href="/sensores">Sensores</a></li>
        </ul>
      </li>
      <li><a href="/mapa">Mapa</a></li>
      
   </ul>
   <ul class="nav navbar-nav navbar-right">
      <li>
         <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{currentUser}}</p>
      </li>
      <li>
         <form action="/logout" method="post"><button type="submit"><span class="glyphicon glyphicon-log-out"></span>Logout</button></form>
      </li>
   </ul>

{{/block}}